.container {
  text-align: center;
  margin: 2% auto;
  max-width: 1000px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

.card-header {
  background-color: #f8f9fa;
  padding: 10px 15px;
}

.card-body {
  padding: 15px;
}
