<div class="container">
  <img src="assets/images/logo.png" alt="Runaway Logo">
  <h1>Duyurular</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Alan  
        </div>
        <div class="card-body">
          1.Alan 
          </div>
          <div class="card-body">
            2.Alan 
            </div>
             
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
            Etkinlikler
        </div>
        <div class="card-body">
          1.Etkinlikler
          </div>
          <div class="card-body">
            2.Etkinlikler
            </div>
             
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
         Duyurular
        </div>
        <div class="card-body">
         1. Duyuru
          </div>
          <div class="card-body">
            2. Duyuru
             </div>
      </div>
    </div>
  </div>
</div>
