<form [formGroup]="frm" class="my-login-form " (ngSubmit)="Login(frm.value)">
  <div class="form-group">
    <img src="assets/images/logo.png" style="height: 135px;" alt="homepage">
  </div>
  <div class="form-group">
    <!-- <label for="company">Şirket</label> -->
    <select  #selectCompany name="company" placeholder="Şirketi Seçin" formControlName="company" class="form-select"
      aria-label="Default select example" (change)="selectRequestBusiness(selectCompany.value)"  >
      <option value="" disabled selected>Şirketi Seçin</option>
      <option *ngFor="let company of listCompany" [value]="company.companyName">{{ company.companyName }}</option>
    </select>
    <small class="form-text text-muted invalid-feedback" style="display: table-row-group;"
      *ngIf="submitted && component.company.errors?.required">
      Lütfen bir şirket seçiniz.
    </small>
  </div>


  <div class="form-group">
    <!-- <label for="business">İşletme</label> -->
    <select #selectBranch formControlName="business" id="business" class="form-select"
      [ngClass]="{'is-invalid': submitted && component.business?.errors}" aria-label="Default select example"
       (change)="selectRequestBrach(selectCompany.value,selectBranch.value)">
      <option value="" disabled selected>İşletme Seçin</option>
      <option *ngFor="let business of listBusiness" [value]="business.businessCode">{{ business.businessName }}</option>

    </select>
    <small class="form-text text-muted invalid-feedback" style="display: table-row-group;"
      *ngIf="submitted && component.business.errors?.required">
      Lütfen bir İşletme seçiniz.
    </small>
  </div>
  <div class="form-group">
    <!-- <label for="branch">Şube</label> -->
    <select #selectBranch formControlName="branch" id="branch" class="form-select"
      [ngClass]="{'is-invalid': submitted && component.branch?.errors}" aria-label="Default select example"
      >
      <option value="" disabled selected>Şube Seçin</option>

      <option *ngFor="let branch of listBranch" [value]="branch.branchCode">{{ branch.branchCode }}-{{ branch.branchName}}</option>
    </select>
    <small class="form-text text-muted invalid-feedback" style="display: table-row-group;"
      *ngIf="submitted && component.branch.errors?.required">
      Lütfen bir Şube seçiniz.
    </small>
  </div>
  <div class="form-group">
    <!-- <label for="username">Kullanıcı Adı</label> -->
    <input type="text" formControlName="username" class="form-control" id="username"
      [ngClass]="{'is-invalid': submitted && component.username.errors}" placeholder="Kullanıcı Adı"   >
    <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.username.errors?.required">Lütfen
      kullanıcı adını boş geçmeyiniz.</small>
  </div>
  <div class="form-group">
    <!-- <label for="password">Şifre</label> -->
    <input type="password" formControlName="password" class="form-control" id="password" placeholder="Şifre"
      [ngClass]="{'is-invalid': submitted && component.password.errors}"  >
  </div>

  <br />
  <button type="submit" class="btn btn-primary " style="width: -webkit-fill-available; background-color: #ff6a00;">Giriş
    yap</button>
</form>